.gradle
/.idea
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/modules
/.idea/workspace.xml
/.idea/libraries
.idea/caches
.idea/misc.xml
/.idea/runConfigurations.xml
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
huntersmeadowlibandroid-release/build
huntersmeadowlibandroid-release/huntersmeadowlibandroid-release.aar
app/release/output.json
app/release/output-metadata.json
app/release/Word Puzzle Assist-release.aab
app/release/Word Puzzle Assist-release.apk
ChunkPermutations.zip
